@import (reference) "cavepaint";
@import "starfield";

.logo {
    max-height: 25px;
}

#nav {
    h1 {
        font-size: var(--font-size);
    }
}

.project-links {

    @color: @warning;
    
    padding: @padding;
    min-height: 12rem;

    ul {
        list-style-type: none;
        padding-left: 0;
    }

    li {
        margin-bottom: @padding;
        padding-left: 0;
        line-height: @line-height;

        float: left; 
        
        .on-tablet({
            float: none;
        })
        

        // &:last-child {
        //     .clearfix();
        //     margin-bottom: 0;
        // }
    }

    a {
        @pj-background: lighten(@color, 16%);
        display: inline-block;
        background: @color;
        background: @color;
        color: .set-tone(@color)[];
        .on-desktop({
            background: @pj-background;
            color: .set-tone(@pj-background)[];
        });
        line-height: @line-height;
        height: @line-height;
        padding-left: 1rem;
        padding-right: 2rem;
        margin-right: 5rem;
        text-decoration: none;
        position: relative;

        &:before {
            @width: 2rem;
            content:"";
            display: block;
            position: absolute;
            top: 0;
            right: -3rem;
            width: @width;
            height: @width;
            background: @color;
            text-indent: -9999px;

            .on-desktop({
                background: @pj-background;
            });
        }

        &:after {
            @width: 1rem;
            content: "";
            display: block;
            background: @gray;
            .on-desktop({
                background: @color;
            });
            width: @width;
            height: @width;
            position: absolute;
            top: 1rem;
            right: -2rem;
        }
    }

    .on-desktop({
        background: @color;
        color: .set-tone(@color)[];
    });
}


.feature {
    text-decoration: none;
    max-width: 100%;
    display: block;
    border: .3rem dashed @white;
    // background: @black;

    h1 {
        background: @black;
        color: .set-tone(@black)[];
    }

    .on-desktop({
        border: .6rem dashed white;
    });
}