<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>rexriepe.com</title>
  <meta name="description" content="Personal site of Rex Riepe">
  <meta name="author" content="Rex Riepe">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>{{> css/index}}</style>
</head>

<body>

  {{> templates/nav}}
    <main role="main">
        <section class="splash">
          <h1>This entire website is about me.</h1>
          <p>Not enough? Here's a <strong>whole page</strong> about me too.</p>
        </section>
        <section>
            <h5>Who</h5>
            <p>My name is Rex. This is my website.</p>

            <aside>
              <pre><span class="action"># includes</span>
<span class="alternate">philosophy</span> <span class="highlight">emotion</span> <span class="failure">technology</span> <span class="info">frontend</span> <span class="warning">design</span> <span class="alternate">framerate</span> <span class="success">typography</span>  <span class="failure">usability</span></pre>
            </aside>

            <h5>What</h5>
            <p>I do <strong>emotional design</strong>. That can mean UX, relative color design, design systems, product design or team/process engineering.</p>
        
            <h5>Where</h5>
            <p>I live in San Francisco. I've worked throughout the Bay Area.</p>

            <aside>
              <pre><span class="action"># dependencies</span>
<span class="success">lesscss</span> <span class="alternate">django</span> <span class="failure">javascript</span> <span class="warning">htmlcss</span> <span class="alternate">reactjs</span> <span class="highlight">linux</span> <span class="info">GIMP</span> <span class="success">inkscape</span> <span class="alternate">foss</span> <span class="failure">dweb</span></pre>
            </aside>

            <h5>When</h5>
            <p>Right now! Services are available remotely.</p>

            <h5>Why</h5>
            <p>All design is trying to evoke an emotion. Emotion is key to understanding how teams interact with each other and how users interact with a product.</p>

            <aside>
                <p>Tech used for this site:</p>
                <ul>
                    <li>
                        <a href="https://mustache.github.io/">mustache</a>
                    </li>
                    <li>
                        <a href="http://www.lesscss.org/">LessCSS</a>
                    </li>
                    <li>
                        <a href="https://rexriepe.github.io/tpcs/">TPCS</a>
                    </li>
                </ul>
            </aside>

            <h5>How</h5>
            <p>If you'd like to work together on something, e-mail me for rates or packages. Solve the <em>very difficult</em> human-proofing in my footer for my e-mail address.</p>
        </section>
    </main>
    {{> templates/footer}}
</body>
</html>