<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>HHS</title>
  <meta name="description" content="Site for HHS, a tech by Santiago Bazerque">
  <meta name="author" content="Santiago Bazerque">
  <meta name="viewport" content="width=device-width, initial-scale=1">

<style>
  {{> css/index}}
</style>
</head>

<body>

  
      <div id="parallax">
      {{> templates/nav}}
        <div id="parallax-group">
          <section>
              <div class="block feature">
                  <h1>We ❤️ the Internet. Let's make it a better place.</h1>
                  <p>If you don't have a spaceship, a web app will do. We're looking for open-source contributors to make the vision for a smart, distributed data layer for the Internet into a reality.</p>
                  <footer>
                    <a href="github" class="button action">Get the code</a> &nbsp; 
                    <a href="contribute" class="button reaction">Contribute</a>
                  </footer>
              </div>
              <section class="triplicate">
                <div>
                  <h5>Own your data</h5>
                  <p>Store your conversations, pictures and files on your own devices. Share them only with whom you want.</p>
                </div>
                <div>
                  <h5>Think freely</h5>
                  <p>Share information without intermediaries or censorship, using peer-to-peer technology that works inside your browser.</p>
                </div>
                <div>
                  <h5>Champion rights</h5>
                  <p>By running your own node in a peer-to-peer network you can finally own your information online top-to-bottom.</p>
                </div>
              </section>
          </section>
        </div>
        <div class="regular-group empty">
          <section>
              <h2>What happens when you enter hyperspace <em>from hyperspace</em>?</h2>
              <aside>
                <blockquote>
                   Traveling through hyperspace ain't like dusting crops, boy!
                   <cite>Han Solo</cite>
                </blockquote>
              </aside>
              <p>We wouldn't know. HHS has nothing to do with space travel or science fiction. What we do know is that the world needs a better Internet.</p>
              <p>We think a big part of this better Internet will be a <strong>versatile and secure distributed data layer</strong>.</p>
              <p>Hyper Hyper Space is that layer.</p>
              <aside class="project-links">
                  <h5>Follow HHS!</h5>
                  <ul>
                      <li>
                          <a href="/github/" target="_blank" title="Github">on Github</a>
                      </li>
                      <li>
                          <a href="/github/" target="_blank" title="Twitter">on Twitter</a>
                      </li>
                  </ul>
              </aside>
              <p>Here's some body text. Aliens are scary! Aliens are super scary and alien stories are scary too. Why am I watching scary Youtube videos? It's so I have something to write about in fake body text.</p>
              <h5>Latest super-secret build</h5>
              <p>Download the latest experimental build here.</p>
              
              
          </section>
          
          
        </div>
        <footer id="footer">
          <section>
            <section class="triplicate">
              <div>
                <h6>Contribute</h6>
                <ul>
                  <li>
                    <a href="/contribute#bitcoin">Crypto</a>
                  </li>
                  <li>
                    <a href="/contribute#paypal">Paypal</a>
                  </li>
                  <li>
                    <a href="/contribute#patreon">Patreon</a>
                  </li>
                </ul>
              </div>
              <div>
                <h6>Join HHS</h6>
                <ul>
                  <li>
                    <a href="/github">Github</a>
                  </li>
                  <li>
                    <a href="/invest">Invest</a>
                  </li>
                </ul>
              </div>
              <div>
                <p>HHS is committed to building a better internet for everyone.</p>
                <p>Site by <a href="http://www.rexriepe.com/">Rex Riepe</a>.</p>
              </div>
            </section>

          </section>
        </footer>
      </div>
      
</body>
</html>