<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{name}}</title>
  <meta name="description" content="{{description}}">
  <meta name="author" content="{{author}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/cavepaint.css">


<style>
  {{> css/index}}
</style>
</head>

<body class="black starfield monospace">

      {{> templates/nav}}
          <section class="inner-page-width padding responsive">
              <div class="big border thick dashed current-color padding responsive gutter-bottom">
                  <h1 class="text-center monospace black">We ❤️ the Internet.</h1>
                  <p class="big text-center black"> Let's make it a better place.</p>
                  <p class="inner-text-width black">If you don't have a spaceship, a web browser will do. We're looking for open-source contributors to make the vision for a smart, distributed data layer for the Internet into a reality.</p>

                  <footer class="text-center gutter big two-column desktop no-grid-gap">
                    <div>
                      <a href="https://github.com/hyperhyperspace/hyperhyperspace-core" class="inline-block text-margin-bottom button bright warm teal flatten no-border no-border-radius padding">Get the code</a> 
                    </div>
                    <div>
                      <a href="https://hyperhyper.space" class="inline-block text-margin-bottom button orange flatten no-border no-border-radius padding">Try it out 🚀</a>
                    </div>
                  </footer>
              </div>
              <section class="three-column black desktop">
                <div>
                  <h5>Own your data</h5>
                  <p>Store your conversations, pictures and files on your own devices. Share them only with whom you want.</p>
                </div>
                <div>
                  <h5>Think freely</h5>
                  <p>Share information without intermediaries or censorship, using peer-to-peer technology that works inside your browser.</p>
                </div>
                <div>
                  <h5>Champion rights</h5>
                  <p>By running your own node in a peer-to-peer network (inside a web browser, like this one, if you so choose!) you can finally own your information online top-to-bottom.</p>
                </div>
              </section>
          </section>
        </div>
        <section class="inner-page-width neutral white padding-top padding-bottom padding responsive">
            <div class="two-column golden tablet">
              <div class="inner-text-width">
                <h3 class="">What happens when you enter hyperspace <em>from hyperspace</em>?</h3>
                <p>We wouldn't know. HHS has nothing to do with space travel or science fiction. What we do know is that the world needs a better Internet.</p>
                <p>We think a big part of this better Internet will be a <strong>versatile and secure distributed data layer</strong>.</p>
                <p>Hyper Hyper Space is that layer.</p>
              </div>
              <div class="vertical-center">
                <blockquote class="bright default padding responsive">
                  <em>Traveling through hyperspace ain't like dusting crops, boy!</em><br>
                  <cite>&mdash; Han Solo</cite>
                </blockquote>
              </div>
              
            </div>
        </section>
          
          
        <footer id="footer" class="inner-page-width dull dark gray padding responsive">
          <section class="three-column desktop">
            <div>
              <h6>Contribute</h6>
              <ul>
                <li>
                  <a href="https://github.com/hyperhyperspace/hyperhyperspace-core/issues">Open issues</a>
                </li>
              </ul>
            </div>
            <div>
              <h6>Join HHS</h6>
              <ul>
                <li>
                  <a href="https://github.com/hyperhyperspace">Github</a>
                </li>
                <li>
                  <a href="https://hyperhyper.space">hyperhyper.space</a>
                </li>
              </ul>
            </div>
            <div class="">
              <p>HHS is committed to building a better internet for everyone.</p>
              <p>Site built with <a href="https://cavepaint.github.io/cavepaintcss/">Cavepaint</a>.</p>
            </div>
          </section>

        </footer>
      </div>
      
</body>
</html>