<nav>
    <h1><a href="/"><img class="logo" src="img/hhs.svg" alt="HHS logo"> Hyper Hyper Space</a></h1>
    <label id="hamburger_button_container" for="hamburger_input"><span id="hamburger_button"></span></label>
    <input type="checkbox" id="hamburger_input" name="hamburger_input" value="Menu toggle">
    <div id="short_links">
        <ul>
        <li><a href="/contribute/">Contribute</a></li>
        <li><a href="/learn/">Learn more</a></li>
    </ul>
    </div>
</nav>
