<nav class="bar padding inner-page-width padding responsive two-column desktop clearfix trim">
    
    <h1 class="huge no-margin"><a href="/"><img class="logo character-width" src="img/hhs.svg" alt="HHS logo"> Hyper&nbsp;Hyper&nbsp;Space</a></h1>
    <ul class="no-margin inline bar float-right text-right">
        <li><a href="https://github.com/hyperhyperspace/hyperhyperspace">Contribute</a></li>
        <li><a href="https://github.com/hyperhyperspace/hyperhyperspace-core">Learn more</a></li>
    </ul>
</nav>
