<nav id="nav" class="bar fixed top inner-page-width black padding no-padding-top no-padding-bottom gutter-bottom">
    <div class="relative">
        <h1><a href="/" class="no-underline"><img class="logo" src="img/hhs.svg" alt="HHS logo"> Hyper Hyper Space</a></h1>
        <div class="absolute top right">
            <ul class="no-list-style">
                <li class="float-left margin-right"><a href="/contribute/">Contribute</a></li>
                <li class="float-left"><a href="/learn/">Learn more</a></li>
            </ul>
        </div>
    </div>
</nav>
