<ul>
    <li>
        <a href="/posts/three_golden_rules_of_a_software_team">Three golden rules of a software team</a>
    </li>
    <li>
        <a href="/posts/rexriepecom_is_online">rexriepe.com is online</a>
    </li>
    <li>
        <a href="/posts/finishing_a_theory">Finishing a theory</a>
    </li>
    <li>
        <a href="/posts/looking_back_at_strapless">Looking back at Strapless</a>
    </li>
</ul>
